
.footer {
	bottom: 0;
	left: 0;
	/*height: 40px;*/
	position: fixed; /*fixed*/
	width: 100%;
	font-size: 12px;
}

.table {
	margin-bottom: 0px;
	background-color: #acff89ba;
}

tr:nth-of-type(odd) {
	background-color: #fff;
}

tr:nth-of-type(even) {
	background: #acff89ba;
}

.table-dark {
	border: 0;
	color: #000;
	background-color: #fff;
}

.chao {
	margin-bottom: 30px;
}

#table-scroll {
	height:450px;
	overflow:auto;
}

.grafico {
	height: 0px;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: black;
  font-size:15px;
  font-weight: 300;
}
.card-index:hover {
  transform: scale(1.15);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}
.card-index {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}

.dev {
	width: 18rem; 
	background-color: #a9ff85;

	border-radius: 15px;
}

.perfil {
	border-radius: 50%;
	margin-top: 10px;
	padding-left: 95px;
	padding-right: 95px;
}

.menu {
	text-transform: uppercase;
	-webkit-text-stroke: medium;
	background-color: #a9ff85;

	position: sticky;
	top: 75px;

	border: 1px solid lightgray;
	border-radius: 15px;
}

@media only screen and (max-width: 1550px) {
	table {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1125px) {

	.label-radio {
		font-size: 11px;
	}
}

@media only screen and (max-width: 767px) {
	table {
		font-size: 10px;
	}
	.label-radio {
		font-size: 10px;
	}
}

@media only screen and (max-width: 570px) {
	table {
		font-size: 8px;
	}
}

@media only screen and (max-width: 410px) {
	table {
		font-size: 6px;
	}
}

@media only screen and (min-height: 500px) {
	#table-scroll {
		height:350px;
		overflow:auto;
	}
}

@media only screen and (min-height: 640px) {
	#table-scroll {
		height:450px;
		overflow:auto;
	}
}

@media only screen and (min-height: 657px) {
	.grafico {
		height: 500px;
	}
}


@media only screen and (min-height: 700px) {
	#table-scroll {
		height:500px;
		overflow:auto;
	}
}

@media only screen and (min-height: 732px) {
	#table-scroll {
		height:550px;
		overflow:auto;
	}
}

@media only screen and (min-height: 800px) {
	#table-scroll {
		height:600px;
		overflow:auto;
	}
}

@media only screen and (min-height: 1020px) {
	#table-scroll {
		height:800px;
		overflow:auto;
	}
}

@media only screen and (min-height: 1250px) {
	#table-scroll {
		height:1150px;
		overflow:auto;
	}
}